<h2 class="title">Add new Event</h2>
<%= form_for @event, url: {action: "create"} do |f| %>
  <div class="field">
    <label class="label">Event Name</label>
    <div class="control has-icons-left">
      <%= f.text_field :name, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-bullhorn"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Event Details</label>
    <div class="control">
      <%= f.text_area :event_detail, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Event Start Date</label>
      <div class="control">
        <div class="select">
          <div class="field is-grouped">
          <%= f.date_select :event_start_date,
            {
              :start_year => 2018, 
              :end_year => 2020
            }
          %>
          </div>
        </div>
      </div>
  </div>

  <div class="field">
    <label class="label">Event End Date</label>
      <div class="control">
        <div class="select">
          <div class="field is-grouped">
          <%= f.date_select :event_end_date,
            {
              :start_year => 2018, 
              :end_year => 2020
            }
          %>
          </div>
        </div>
      </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Create Event"/>
    </div>
  </div>
<% end %>
