<% if flash[:success] %>
<div class="notification is-info">
  <button class="delete delete_notification"></button>
  <%= flash[:success] %>
</div>
<% end %>
<% if flash[:error] %>
<div class="notification is-danger">
  <button class="delete delete_notification"></button>
  <%= flash[:error] %>
</div>
<% end %>
<div class="content">
  
  <p class="is-size-6 has-text-grey-lighter">Event Detail</p>

  <h1 class="is-size-3 has-text-weight-light">
    <%= @event.name %>
  </h1>
  <p>
    <a href="<%= edit_event_url(@event.id) %>" class="button is-small">Edit Event</a>
    <a href="<%= event_url(@event.id) %>" data-method="delete" class="button is-small is-danger">Delete Event</a>
    <a href="<%= post_to_twitter_url(@event.id) %>" data-method="post" class="button is-small is-info">Post To Twitter</a>
  </p>
  <p class="has-text-grey">
    <i class="fa fa-calendar"></i> <%= Date.parse(@event.event_start_date.to_s).strftime("%A, %d %B %Y") %> <br>
    <% if !@event.event_location.nil? %>
      <i class="fa fa-map"></i> <%= @event.event_location.location.name %>
      <a href="<%= edit_event_location_url(@event.id, @event.event_location.location.id) %>" class="button is-small">Edit Location</a>
    <% else %>
      <i class="fa fa-map"></i> <a href="<%= new_event_location_url(@event.id) %>" class="button is-small">Set Location</a>
    <% end %>
  </p>
  <blockquote>
    <%= @event.event_detail %>
  </blockquote>
  
  <hr/>
  <p class="has-text-grey">
    Tickets
  </p>
  <% if @event_tickets.count >= 1 %>
    <% @event_tickets.each do |t| %>
      <div class="box">
        <div class="content">
          <p>
            <strong><%= t.ticket_name %></strong> <small>(Price)</small> <small><%= t.ticket_price %></small>
            <br>
            <%= t.ticket_detail %>
            <br>
            <a href="<%= edit_event_ticket_url(@event.id, t.id) %>" class="button is-small">
              <span class="icon">
                <i class="fa fa-edit"></i>
              </span>
            </a>
            <a class="button is-danger is-small">
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    <% end %>
      <a href="<%= new_event_ticket_url(@event.id) %>" class="button">Add More Ticket</a>
  <% else %>
    <div class="box">
      <a href="<%= new_event_ticket_url(@event.id) %>" class="button">Add Ticket</a>
    </div>
  <% end %>
</div>
