<%= render "/events/breadcrumb_form",
  breadcrumb_var: Event.find(params[:event_id]).name,
  breadcrumb_var_id: params[:event_id],
  breadcrumb_var_current: "Add new ticket" %>

<h2 class="title">Add new Ticket</h2>
<%= form_for @ticket, url: {action: "create"} do |f| %>
  <div class="field">
    <label class="label">Ticket Name</label>
    <div class="control has-icons-left">
      <%= f.text_field :ticket_name, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-certificate"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Ticket Detail</label>
    <div class="control has-icons-left">
      <%= f.text_field :ticket_detail, class: "input" %>
      <span class="icon is-small is-left">
        <i class="fa fa-certificate"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Ticket Price</label>
    <div class="control has-icons-left">
      <%= f.text_field :ticket_price, class: "input", placeholder: "Rp. 1000000 | IDR 1000000 | Free" %>
      <span class="icon is-small is-left">
        <i class="fa fa-credit-card"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Add Ticket"/>
    </div>
  </div>
<% end %>

