<% provide(:title, "All Events") %>
<% provide(:description, "All Events on Loket Event") %>

<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= root_url %>">Homepage</a></li>
    <li class="is-active"><a aria-current="page" href="#">Events</a></li>
  </ul>
</nav>

<% @events.each do |event| %>
  <div class="columns">
    <div class="column is-4">
      <section class="section">
        <aside class="menu">
          <p class="menu-label">
            <i class="fa fa-calendar"></i> 
            <%= Date.parse(event.event_start_date.to_s).strftime("%A, %d %B %Y") %>
          </p>
          <p class="menu-label">
            <i class="fa fa-map"></i> 
            <%= event.event_location.nil? ? '' : event.event_location.location.name %>
          </p>
        </aside>
      </section>
    </div>
    <div class="column is-8">
      <section class="section">
        <div class="content">
          <h1 class="is-size-3 has-text-weight-light">
            <a href="<%= show_public_event_path(event.id) %>"><%= event.name %></a>
          </h1>
        </div>
      </section>
    </div>
  </div>
<% end %>

